.Form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	h4{
		margin-top: 10px;
		font-family: sans-serif;
		font-style: normal;
		text-align: center;
		color: rgb(88, 255, 66);
		text-transform: uppercase;
		font-weight: bold;
		font-size: 20px;
		line-height: 35px;
	}
	.h4error{
		color: red;
	}
	h3{
		margin-top: 50px;
		font-family: sans-serif;
		font-style: normal;
		text-align: center;
		color: #000;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 30px;
		line-height: 35px;
	}
	form{
		width: 60%;
		display: flex;
		color: #000;
		flex-direction: column;
		.first, .second, .third{
			display: flex;
			width: 100%;
			justify-content: space-between;
			flex-direction: row;
		}
		.first{
			input, select{
				width: 45%;
			}
		}
		.second{
			input, select{
				width: 70%;
			}
		}
		.third{
			input, select{
				width: 30%;
			}
		}
		.fourth{
			display: flex;
			width: 100%;
			flex-wrap: wrap;
			flex-direction: row;
			justify-content: space-between;
		}
		.fourth_mobile{
			display: none;
		}
		.fifth{
			display: flex;
			width: 100%;
			flex-direction: row;
			justify-content: space-between;
		}
		.small{
			width: 20% !important;
		}
		.desc{
			display: flex;
			width: 100%;
			flex-direction: row;
			justify-content: space-between;
			div{
				width: 20%;
				flex-direction: column;
				input{
					width: 100%;
				}
			}
			textarea{
				width: 70%;
			}
		}
		.addressblock{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			input{
				width: 20%;
			}
			.street{
				width: 50%;
			}
		}
		input, textarea, select{
			font-family: sans-serif;
   			font-size: 14px;
			margin: 10px 10px;
			padding: 5px;
			outline: none;
			border: 1px solid grey;
			border-radius: 5px;
		}
	}
	button{
		cursor: pointer;
		margin: 60px;
		outline: none;
		padding: 10px 30px;
		border: none;
		border-radius: 10px;
		background-color: #FFCE1E;
		color: black;
		font-weight: bold;
		font-size: 24px;
		line-height: 28px;
		text-align: center;
		text-transform: uppercase;
	}
}
@media screen and (max-width: 1000px){
	.Form{
		height: 550px;
		h3{
			font-size: calc(20px + 1vw);
		}
		h4{
			margin: 0;
		}
		form{
			width: 98%;
			input, textarea, select{
				margin: 7px 3px;
				padding: 5px;
				outline: none;
				border: 1px solid grey;
				border-radius: 5px;
			}
			.desc{
				display: flex;
				width: 100%;
				flex-direction: column;
				div{
					display: flex;
					width: 100%;
					flex-direction: row;
					justify-content: space-between;
					input{
						width: 40%;
					}
				}
				textarea{	
					width: 94%;
				}
			}
			button{
				margin: 10px;
				font-size: calc(12px + 2vw);
			}
		}
		
	}
}
@media screen and (max-width: 500px){
	.Form{
		height: 550px;
		form{
			.fourth{
				display: none;
			}
			.fourth_mobile{
				width: 100%;
				display: flex;
				flex-direction: column;
				div{
					display: flex;
					flex-direction: row;
					input, select{
						width: 100%;
					}
				}
			}
		}
	}
}
