.SorryPage{
    width: 100%;
	height: 88vh;
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../MainSlider/main.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
  	background-position: center;
	display: flex;
	flex-direction: column;
    align-items: center;
    h3, p{
        width: 900px;
        margin: 0;
		font-family: sans-serif;
		font-style: normal;
		text-align: center;
        color: #fff;
        font-weight: normal;
        font-size: 32px;
		line-height: 35px;
	}
    h3{
        margin-top: 200px;
    }

}
@media screen and (max-width: 1000px){
	.SorryPage{
		h3, p{
            width: 100%;
			font-size: calc(15px + 2vw);
			line-height: 30px;
        }
    }
}
