.MainSlider{
	width: 100%;
	height: 705px;
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./main.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
  	background-position: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	h1, h2, button{
		font-family: sans-serif;
		font-style: normal;
		text-align: center;
		color: #fff;
	}
	h1{
		margin-top: 200px;
		font-weight: bold;
		font-size: 42px;
		line-height: 49px;
		text-transform: uppercase;
	}
	h2{
		width: 600px;
		font-weight: normal;
		font-size: 29px;
		line-height: 34px;
	}
	button{
		cursor: pointer;
		margin-top: 100px;
		outline: none;
		padding: 20px 50px;
		border: none;
		border-radius: 40px;
		background-color: #FFCE1E;
		color: black;
		font-weight: bold;
		font-size: 28px;
		line-height: 33px;
		text-align: center;
		text-transform: uppercase;
		text-decoration: none;
		a{
			text-decoration: none;
			-webkit-transform: translateZ( 0 );
			transform: translateZ( 0 );
			-webkit-transition: -webkit-transform 0.6s ease-in-out;
			transition: transform 0.6s ease-in-out;
		}
		a:link {
			color: inherit;
		}
		a:visited {
			color: inherit;
		}
		a:active {
			color: inherit;
		} 
	}
}
@media screen and (max-width: 700px){
	.MainSlider{
		height: 500px;
		h1{
			margin-top: 150px;
			font-size: calc(20px + 2vw);
			line-height: 30px;
		}
		h2{
			width: 100%;
			font-size: calc(17px + 2vw);
		}
		button{
			margin-top: 70px;
			font-size: calc(10px + 2vw);
			padding: 5px 10px;
		}
	}
}