.Header{
	height: 6vh;
	background-color: #000;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	a{
		margin: 0;
		padding: 0;
	}
	img{
		cursor: pointer;
		width: 200px;
		margin: 7px 5px 5px 50px;
	}
}
@media screen and (max-width: 900px){
	.Header{
		justify-content: space-around;
		img{
			width: 100px;
			margin: 10px;
		}
	}
}