.Footer{
	height: 6vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	p{
		font-family: sans-serif;
		font-style: normal;
		margin: 2px;
	}
}
@media screen and (max-width: 700px){
	.Footer{
		p{
			font-size: calc(7px + 1vw);
		}
	}
}